<!DOCTYPE html>

<!-- ADMIN CONFIG PAGE -->

<html>  
    <head>
        <!-- include stylesheet and fonts -->
        <link rel="stylesheet" type="text/css" href="static/config.css">
        <link rel="stylesheet" type="text/css" href="static/dropdown.css">
        <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Open+Sans&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <div class="dropdown">
            <!-- <button class="dropbtn">Menu</button> -->
            <img src="static/menuicon.png" alt="dropdown" width="55" height="55">
            <div class="dropdown-content">
                <a href="/">Home</a>
                <a href="/config">Settings</a>
                <a href="/data">Data</a>
                <a href="/graph">Graphing</a>
            </div>
        </div>
        <div class="header">
            <p>
                Configuration
            </p>
        </div>
        <div class="submission">
            <!-- this is the submission form that's sent back to app.py -->
            <form action="/config" method="POST">

                <input type="text" name="title" placeholder="Enter the login page title" required>
                
                <div class = switchContainer>
                    <label class="switch">
                        
                        {% if add_dob %}
                            <input type="checkbox" id = "add_dob" name="add_dob" checked>
                        {% else %}
                            <input type="checkbox" id = "add_dob" name="add_dob">
                        {% endif %}

                        <span class="slider round"></span>
                    </label>
                    <label for="add_dob" class="textLabel">Include DOB field</label>
                </div>

                <div class="switchContainer">
                    <label class="switch">

                        {% if add_gender %}
                            <input type="checkbox" id="add_gender" name="add_gender" checked>
                        {% else %}
                            <input type="checkbox" id="add_gender" name="add_gender">
                        {% endif %}

                        <span class="slider round"></span>
                    </label>
                    <label for="add_gender" class="textLabel">Include gender field</label>
                </div>

                <div class = switchContainer>
                    <label class="switch">
                        
                        {% if add_instructions %}
                            <input type="checkbox" id = "add_instructions" name="add_instructions" checked>
                        {% else %}
                            <input type="checkbox" id = "add_instructions" name="add_instructions">
                        {% endif %}

                        <span class="slider round"></span>
                    </label>
                    <label for="add_instructions" class="textLabel">Include additional instructions field</label>
                </div>

                <input type="submit" value="Submit">

            </form> 
            <!-- END FORM -->

            <!-- display submission message -->
            <div class="submitted">
                {% if submissionStatus %}
                <p>
                    Submitted!
                </p>     
                {% endif %}
            </div> 
        </div>
    </body>

</html>