<!DOCTYPE html>

<html>  
    <head>
        <!-- include stylesheet and fonts -->
        <link rel="stylesheet" type="text/css" href="static/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Open+Sans&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <div class="header">
            <p>
                Welcome
            </p>
        </div>
        <div class = "submission">

            <!-- this is the submission form that's sent back to app.py -->
            <form action="/" method="POST">
                <input type="text" name="firstName" placeholder="Enter your first name">
                <input type="text" name="lastName" placeholder="Enter your last name">
                <select name="purpose">
                    <option id = "title" value="" disabled selected>Reason for visit</option>
                    <option value="meeting">Meeting</option>                           
                    <option value="workshop">Workshop</option>
                    <option value="consultation">Consultation</option>
                    <option value="meeting">Professional Development</option>
                    <option value="meeting">Tour/Visit</option>
                </select>
                <input type="submit" value="Submit">
            </form>
            <!-- end submission form -->

            <!-- check for correct form entry -->
            <div class="submitted">
                {% if submitted %}
                    {% if nameStatus and purposeStatus %}
                    <p>
                        Submitted!
                    </p>
                    {% elif nameStatus and not purposeStatus %}
                    <p>
                        Please select an option from the dropdown menu.
                    </p>
                    {% elif purposeStatus and not nameStatus %}
                    <p>
                        Please enter your full name.
                    </p>
                    {% else %}
                    <p>
                        Please complete the form before submitting.
                    </p>
                    {% endif %}                                      
                {% endif %}

            </div>
            
        </div>


    </body>
</html>